@{
    ViewBag.Title = "Your account confirmed";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<div class="white-spacing"></div>
<div class="container">
    <p class="text-success">Your account confirmed. Please follow the link <a href ="@Url.Action("Index","Browsio")">@Request.Url.Scheme://@Request.Url.Authority@Url.Action("Index","Browsio")</a></p>
</div>

@Html.When(JqueryBind.InitIncoding).Do().Direct().OnSuccess(dsl => dsl.Utilities.Document.RedirectTo(Url.Action("Index", "Browsio")).TimeOut(10000)).AsHtmlAttributes().ToDiv();