@model ForgotUserPasswordCommand

@using (Html.Browsio().BeginForm(setting =>
                                     {
                                         setting.CloseDialog = false;
                                         setting.ReloadSubmit = true;
                                     }))
{
    @Html.ForGroup(r => r.Email).TextBox(control => { control.Input.Placeholder = "Enter your E-mail"; })
    <div class="form-actions">
        @Html.Incoding().Submit("Get Password", new { @class = "btn btn-success" })
    </div>
}