<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="PreserveLoginUrl" value="true"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  
  <!-- E-mail config -->
  <add key="SmtpHost" value="smtp.gmail.com" />
  <add key="SmtpPort" value="587" />
  <add key="MailFrom" value="null-notification@incoding.biz" />
  <add key="MailPassword" value="incoding123" />
  <!--  -->
  
  <!-- ConnectorFaceBook&Twitter -->
  <add key="AppFacebook" value="615414155158966 59fe26a4bcfef2bb30798ec9499180e6" />
  <add key="AppTwitter" value="" />  


</appSettings>

