<?xml version="1.0"?>

<connectionStrings>
  <add name="Main" connectionString="Data Source=.\ENT2012;Initial Catalog=Browsio;Integrated Security=False;User Id=sa;Password=Incoding123;" providerName="System.Data.SqlClient" />
  <add name="Test" connectionString="Data Source=.\ENT2012;Initial Catalog=BrowsioTest;Integrated Security=False;User Id=sa;Password=Incoding123;" providerName="System.Data.SqlClient" />
</connectionStrings>
