<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetOpenAuth" version="4.3.1.13153" targetFramework="net40" />
  <package id="DotNetOpenAuth.AspNet" version="4.3.1.13153" targetFramework="net40" />
  <package id="DotNetOpenAuth.Core" version="4.3.1.13153" targetFramework="net40" />
  <package id="DotNetOpenAuth.Core.UI" version="4.3.1.13153" targetFramework="net40" />
  <package id="DotNetOpenAuth.InfoCard" version="4.3.1.13153" targetFramework="net40" />
  <package id="DotNetOpenAuth.InfoCard.UI" version="4.3.1.13153" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth.Common" version="4.3.1.13153" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.3.1.13153" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.3.1.13153" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth.ServiceProvider" version="4.3.1.13153" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth2.AuthorizationServer" version="4.3.1.13153" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth2.Client" version="4.3.1.13153" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth2.Client.UI" version="4.3.1.13153" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth2.ClientAuthorization" version="4.3.1.13153" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth2.Core" version="4.3.1.13153" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth2.ResourceServer" version="4.3.1.13153" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.Core" version="4.3.1.13153" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.Core.UI" version="4.3.1.13153" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.Provider" version="4.3.1.13153" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.Provider.UI" version="4.3.1.13153" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="4.3.1.13153" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty.UI" version="4.3.1.13153" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenIdInfoCard.UI" version="4.3.1.13153" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenIdOAuth" version="4.3.1.13153" targetFramework="net40" />
  <package id="Facebook" version="6.4.2" targetFramework="net40" />
  <package id="FluentNHibernate" version="1.3.0.733" targetFramework="net45" />
  <package id="FluentValidation.MVC3-Signed" version="3.4.6.0" targetFramework="net45" />
  <package id="FluentValidation-Signed" version="3.4.6.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net45" />
  <package id="Incoding.Framework" version="1.0.278.1005" targetFramework="net45" />
  <package id="Incoding.MetaLanguage" version="1.0.278.1005" targetFramework="net45" />
  <package id="Incoding.MetaLanguage.Contrib" version="1.0.11.1570" targetFramework="net45" />
  <package id="JetBrains.Annotations" version="7.0" targetFramework="net45" />
  <package id="jQuery" version="1.9.1" targetFramework="net45" />
  <package id="jQuery.BlockUI" version="2.60.1" targetFramework="net45" />
  <package id="jQuery.Form" version="3.28" targetFramework="net45" />
  <package id="jQuery.UI.Combined" version="1.10.3" targetFramework="net45" />
  <package id="jQuery.Validation" version="1.9.0.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc.FixedDisplayModes" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20715.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.0.19" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.7" targetFramework="net40" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.1.10" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="mustache.js" version="0.4.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="NHibernate" version="3.3.3.4000" targetFramework="net45" />
  <package id="Pnotify" version="1.2.2" targetFramework="net45" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net45" />
  <package id="Twitter.Bootstrap" version="2.3.2" targetFramework="net45" />
  <package id="underscore.js" version="1.4.4" targetFramework="net45" />
</packages>